* {
    background-image: url(../css/img/irelia\ porcelain.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    margin: 0;
}